<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">
	<!-- <bean id="triangle" class="org.kaushik.javabrains.Triangle">
		<property name="pointA" ref="pointA"></property>
		<property name="pointB" ref="pointB"></property>
		<property name="pointC" ref="pointC"></property>
	</bean> -->

	<bean id="pointA" class="org.kaushik.javabrains.Point">
		<qualifier value="circleRealted"></qualifier>
		<property name="x" value="0"/>
		<property name="y" value="0"/>
	</bean>

	<bean id="pointB" class="org.kaushik.javabrains.Point">
		<property name="x" value="-20"/>
		<property name="y" value="0"/>
	</bean>

	<bean id="pointC" class="org.kaushik.javabrains.Point">
		<property name="x" value="20"/>
		<property name="y" value="0"/>
	</bean>
	<bean id="circle" class="org.kaushik.javabrains.Circle">
	</bean>

	<context:annotation-config/>
</beans>